:root{
    --main-color: #7363E5;
    --line-color: #B3B5BB;
}
*{
    margin-top: 1% !important;
}

.container_shadow {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 2%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container_shadow:hover {
    transform: translateY(1px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}