@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&family=Kanit:wght@200&display=swap');
body{
    font-family: 'David Libre', serif;
    background-color: black;
    
    background: url('https://i.pinimg.com/originals/77/ca/a3/77caa32884d735d439ade45ba37feaf2.gif');
    align-items: center;
    justify-content: center;
    
    
}
    