.timeline{
    padding:0 !important;
    text-align: center;
    
}


.timeline .MuiTimelineItem-missingOppositeContent:before{
    display:none;
    
}

.timeline .timeline_dot_header{
    color: bisque;
    background-color: var(--main-color);
    padding: 0px !important;
    
}
.timeline .icon_info{
    color: var( --line-color);
}

.timeline .timeline_dot{
    color: black;
    background-color: var(--main-color);
    padding: 2px !important;
}

.timeline .timeline_dot_header > .MuiSvgIcon-root{
    font-size: 150%;
    color: var( --line-color);
}

.timeline .timeline_item{
    padding-left: 8px !important;

}
.timeline_h6{
    font-weight: 700;
}