.profile{
    background-color: whitesmoke;
    padding: auto;
    display: inline-block;
    margin: auto;
  text-align: center;
}
.profile_name .name{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}
.profile_name .title{
    font-size: 13px;
    color: grey;
}
.profile_image{
    -webkit-clip-path: polygon(0% 9% 100% 0% 95% 0% 100%);
    ;
    clip-path: polygon(0% 9% 100% 0% 95% 0% 100%);
}
.profile_image img{
    width: 90%;
    border-radius: 15%;
}